# Web Framework
fastapi
uvicorn[standard]

# Base de Datos y Migraciones
sqlalchemy
asyncpg
alembic

# Validación y Configuración
pydantic
pydantic-settings
python-dotenv

# Utilidades
requests
httpx
boto3