# Web Framework
fastapi
uvicorn[standard]
python-multipart

# Base de Datos y Migraciones
sqlalchemy
asyncpg
alembic

# Validación y Configuración
pydantic
pydantic-settings
python-dotenv
email-validator

# Seguridad y JWT
python-jose[cryptography]
passlib[bcrypt]
bcrypt

# Utilidades
requests
httpx
boto3

# Testing
pytest
pytest-asyncio
aiosqlite