# Database
# PostgreSQL Example:
DATABASE_URL="postgresql+asyncpg://user:password@localhost:5432/internocore_auth"
# MySQL Example:
# DATABASE_URL="mysql+aiomysql://user:password@localhost:3306/internocore_auth"

# Database Connection Pool (Tune for your server specs)
DB_POOL_SIZE=25
DB_MAX_OVERFLOW=15

# JWT
SECRET_KEY="<YOUR_SUPER_SECRET_AND_STRONG_KEY>"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=60

# ==================================
# Modo Dios (God Mode)
# ==================================
# Llave maestra para intervenciones técnicas. 
# NUNCA compartir ni dejar en blanco en producción.
INT_ADMIN_MASTER_KEY=admin_secret_key_change_me
